:root {
    --primary-purple: #655386;
    --light-purple:#8a72b0;
    --lighter-purple:#a190c7;
    --background:#DEE1ED;
}

body {
    background-color: var(--background);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.pesquisa {
    margin-bottom: 20px;
}

.gen-carrosel, .livros-carrosel {
    margin-bottom: 20px;
    position: relative;
}

.gen-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
}

.gen-item:hover {
    transform: translateY(-5px);
}

.gen-item i { /*ícone*/
    font-size: 25px;
    color: var(--primary-purple);
    margin-bottom: 8px;
}

.card-livro {
    padding: 15px;
    text-align: center;
}

.capa-livro {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}