{% extends "base.html" %}
{% block titulo %}Alteração de Usuario{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/admin/alteração/alterar_usuario.css">
{% endblock %}
{% block conteudo %}

<form method="post" action="/admin/alterar_usuario/{{ usuario.id }}">
    <h1>Alteração de Usuario</h1>

    <div class="um">
        <div class="row">
            <div class="col">
                <div class="form-floating mb-3 gx-1">
                    <input type="text" class="form-control" name="matricula" id="matricula" placeholder=" " value="{{usuario.matricula}}"/>
                    <label for="matricula">Matricula</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-floating mb-3 gx-1">
                    <input type="text" class="form-control" name="senha" id="senha" placeholder=" " value="{{usuario.senha}}"/>
                    <label for="senha">Senha</label>
                </div>
            </div>
        </div>

        <div class="row dois">
            <div class="col">
                <button class="enviar">
                    <a href="/admin/index_usuario" style="color:rgb(89, 89, 89);" onmouseover="this.style.color = 'white'" onmouseleave="this.style.color= 'rgb(89, 89, 89)'">Cancelar</a>
                </button>
                <button type="submit" class="enviar">
                    Salvar
                </button>
            </div>
        </div>
    </div>

</form>
{% endblock %}