{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/admin/excluir/excluir.css">
{% endblock %}
{% block titulo %}Exclusão de Livro{% endblock %}
{% block conteudo %}


<div class="popup-overlay">
    <div class="popup-container">
    
    <form method="post" class="row" action="/admin/excluir_livro">
    
        <h2>Exclusão de Livro</h2>
    
        <input type="hidden" name="id" value="{{livro.id}}">
        <p class="lead">Deseja realmente excluir o livro <b>{{livro.titulo}}</b>?</p>
        <div class="buttons">
            <a href="/admin" class="btn btn-secondary">Não</a>
            <button type="submit" class="btn btn-danger">
                Sim
            </button>
        </div>
    </form>
</div>
</div>

{% endblock %}