{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/admin/excluir/excluir.css">
{% endblock %}
{% block titulo %}Exclusão de Usuario{% endblock %}
{% block conteudo %}

<div class="popup-overlay">
    <div class="popup-container">

        <form method="post" class="row" action="/admin/excluir_usuario">

            <h2>Exclusão de Usuario</h2>

            <input type="hidden" name="id" value="{{usuario.id}}">
            <p class="lead">Deseja realmente excluir o usuario <b>{{ usuario.matricula }}</b>?</p>
            <div class="buttons">
                <a href="/admin/index_usuario" class="btn btn-secondary">Não</a>
                <button type="submit" class="btn btn-danger">
                    Sim
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}