{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/admin/excluir/excluir.css">
{% endblock %}
{% block titulo %}Exclusão de Usuario{% endblock %}
{% block conteudo %}

<form method="post" class="row" action="/admin/excluir_usuario">

    <h1>Exclusão de Usuario</h1>

    <input type="hidden" name="id" value="{{usuario.id}}">
    <p class="lead">Deseja realmente excluir o usuario <b>{{ usuario.matricula }}</b>?</p>
    <div class="col-6">
        <a href="/admin/index_usuario" class="btn btn-secondary">Não</a>
        <button type="submit" class="btn btn-danger">
            Sim
        </button>
    </div>
</form>

{% endblock %}