{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/admin/excluir/excluir.css">
{% endblock %}
{% block titulo %}Exclusão de Livro{% endblock %}
{% block conteudo %}


<form method="post" class="row" action="/admin/excluir_livro">

    <h1>Exclusão de Livro</h1>
    
    <input type="hidden" name="id" value="{{livro.id}}">
    <p class="lead">Deseja realmente excluir o livro <b>{{livro.titulo}}</b>?</p>
    <div class="col-6">
        <a href="/admin" class="btn btn-secondary">Não</a>
        <button type="submit" class="btn btn-danger">
            Sim
        </button>
    </div>
</form>

{% endblock %}