{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/biblioteca/biblioteca.css">
{% endblock %}
{% block titulo %}Biblioteca{% endblock %}
{% block conteudo %}

<div class="container">

    <div class="row">
        <div class="pesquisa">
            <input type="text" class="form-control" placeholder="Livros, autores, usuários...">
        </div>
        <div class="filtro">
            <h3>Filtros</h3>
            <div class="list-group">
                <a href="#" class="list-group-item">Gênero</a>
                <a href="#" class="list-group-item">Autor</a>
                <a href="#" class="list-group-item">Ano</a>
                <a href="#" class="list-group-item">Editora</a>
                <a href="#" class="list-group-item">Idioma</a>
            </div>
        </div>

        <div class="col-md-9">
            <h2>Livros</h2>
            <div class="row">
                {% for livro in livros %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <a href="./livro/{{livro.id}}.html">
                            <img src="/static/img/livros/{{'{:06d}'.format(livro.id)}}.jpg" alt="{{livro.titulo}}" class="img-thumbnail h-120">
                            </a>
                        </div>
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
