{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/cadastro_livro/cadastro_livro.css">
{% endblock %}
{% block titulo %}Cadastro de Livros{% endblock %}

{% block conteudo %}
<div>
        
    <form action="/post_cadastro_livro" method="post">
          <h1>Cadastro de livros</h1>
         <div class="um">
          <div class="row">
            <div class="col form-floating mb-2 gx-1">
              <input type="text" class="form-control" id="titulo"  name="titulo" placeholder=" ">
              <label for="titulo">Título</label>
            </div>
            <div class="col form-floating mb-2 gx-1">
              <input type="text" class="form-control" id="autor"  name="autor" placeholder=" ">
              <label for="autor">Autor</label>
            </div>
          </div>
          <div class="row">
              <div class="col form-floating mb-1 gx-1">
                <input type="float" class="form-control" id="ano"  name="ano" placeholder=" ">
                <label for="ano">Ano</label>
              </div>
              <div class="col form-floating mb-2 gx-1">
                <input type="text" class="form-control" id="paginas" name="paginas" placeholder=" ">
                <label for="paginas">Páginas</label>
              </div>
              <div class="col form-floating mb-2 gx-1">
                <input type="text" class="form-control" id="edicao" name="edicao" placeholder=" ">
                <label for="edicao">Edição</label>
              </div>
              <div class="col form-floating mb-2 gx-1">
                  <input type="text" class="form-control" id="idioma" name="idioma" placeholder=" ">
                  <label for="idioma">Idioma</label>
                </div>
            </div>
            <div class="row">
              <div class="col form-floating mb-2 gx-1">
                <input type="text" class="form-control" id="editora" name="editora" placeholder=" ">
                <label for="editora">Editora</label>
              </div>
              <div class="col form-floating mb-2 gx-1">
                  <input type="text" class="form-control" id="isbn" name="isbn" placeholder=" ">
                  <label for="isbn">ISBN</label>
                </div>
            </div>
            <div class="row">
              <div class="col form-floating mb-2 gx-1">
                  <input type="text" class="form-control" id="genero1" name="genero1" placeholder=" ">
                  <label for="genero1">Gênero 1</label>
              </div>
              <div class="col form-floating mb-2 gx-1">
                  <input type="text" class="form-control" id="genero2" name="genero2" placeholder=" ">
                  <label for="genero2">Gênero 2</label>
              </div>
            </div>
            <div class="row">
              <div class="col form-floating mb-2 gx-1" >
                  <textarea class="form-control" rows="100" name="sinopse" id="sinopse" placeholder=" "></textarea>
                  <label for="sinopse">Sinopse</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                  <button type="submit" class="enviar" id="continuar">Enviar</button>
              </div>
            </div>
          </div>
      </form>
  </div>
{% endblock %}