{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="/static/css/lar/lar.css">
{% endblock %}
{% block titulo %}Lar{% endblock %}

{% block conteudo %}

<div class="container mt-4">
    <!--Barra de pesquisa-->
    <div class="row">
        <div class="col-lg-9">
            <div class="pesquisa">
                <input type="text" class="form-control" placeholder="Livros, autores, usuários...">
            </div>

            <div class="gen-carrosel mb-4">
                <h3>Gêneros</h3>

                <div class="swiper genSwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="gen-item">
                                <i class="bi bi-envelope-paper-heart"></i>
                                <span>Romance</span>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="gen-item">
                                <i class="bi bi-eyeglasses"></i>
                                <span>Fantasia</span>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="gen-item">
                                <i class="bi bi-stars"></i>
                                <span>Ficção</span>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="gen-item">
                                <i class="bi bi-tsunami"></i>
                                <span>Aventura</span>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="gen-item">
                                <i class="bi bi-heartbreak"></i>
                                <span>Drama</span>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="gen-item">
                                <i class="bi bi-mask"></i>
                                <span>Mistério</span>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="gen-item">
                                <i class="bi bi-rocket-takeoff"></i>
                                <span>Sci-Fi</span>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="gen-item">
                                <i class="bi bi-sun"></i>
                                <span>Comédia</span>
                            </div>
                        </div>
                    </div> 
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div> 
            </div> 

            <div class="livros-carrosel mb-4">
                <h3>Livros mais lidos</h3>

                <div class="swiper livroSwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide card-livro">
                            <img src="https://img.skoob.com.br/IoKS6BiuWFHfzYzjs_qhD6f5ZPE=/200x/center/top/smart/filters:format(jpeg)/https://skoob.s3.amazonaws.com/livros/693/O_PEQUENO_PRINCIPE_1441584936693SK1441584936B.jpg" alt="O Pequeno Príncipe" class="capa-livro">
                            <h5>O Pequeno Príncipe</h5>
                            <p>Antoine de Saint-Exupéry</p>
                        </div>

                        <div class="swiper-slide card-livro">
                            <img src="https://img.skoob.com.br/PW_xixfHBfVBdm9-mQoIfLQZqUA=/200x/center/top/smart/filters:format(jpeg)/https://skoob.s3.amazonaws.com/livros/108/HARRY_POTTER_E_A_PEDRA_FILOSOFAL_1389761588B.jpg" alt="" class="capa-livro">
                            <h5>Harry Potter e a Pedra Filosofal</h5>
                            <p>J. K. Rowling</p>
                        </div>

                        <div class="swiper-slide card-livro">
                            <img src="https://img.skoob.com.br/O8zWQEhgL-T7TfPuQtSFAETKYpI=/200x/center/top/smart/filters:format(jpeg)/https://skoob.s3.amazonaws.com/livros/357/HARRY_POTTER_E_A_CAMARA_SECRETA_1343592468B.jpg" alt="" class="capa-livro">
                            <h5>Harry Potter e a Câmara Secreta</h5>
                            <p>J. K. Rowling</p>
                        </div>

                        <div class="swiper-slide card-livro">
                            <img src="https://img.skoob.com.br/sZJOlkmQgTJcgh24DLOTsC7RU28=/200x/center/top/smart/filters:format(jpeg)/https://skoob.s3.amazonaws.com/livros/247555/A_CULPA_E_DAS_ESTRELAS_1447651029247555SK1447651029B.jpg" alt="" class="capa-livro">
                            <h5>A Culpa é das Estrelas</h5>
                            <p>John Green</p>
                        </div>

                        <div class="swiper-slide card-livro">
                            <img src="https://img.skoob.com.br/9lpbG1RXkwpxytyEdYW4ETRm-xQ=/200x/center/top/smart/filters:format(jpeg)/https://skoob.s3.amazonaws.com/livros/358/HARRY_POTTER_E_O_PRISIONEIRO_D_1451338416358SK1451338416B.jpg" alt="" class="capa-livro">
                            <h5>Harry Potter e o Prisioneiro de Azkaban</h5>
                            <p>J. K. Rowling</p>
                        </div>

                        <div class="swiper-slide card-livro">
                            <img src="https://img.skoob.com.br/zV85_hI4cAwIM3hvwfDvTIMSJIg=/200x/center/top/smart/filters:format(jpeg)/https://skoob.s3.amazonaws.com/livros/355/HARRY_POTTER_E_O_CALICE_DE_FOGO_1343592881B.jpg" alt="" class="capa-livro">
                            <h5>Harry Potter e o Cálice de Fogo</h5>
                            <p>J. K. Rowling</p>
                        </div>

                        <div class="swiper-slide card-livro">
                            <img src="https://img.skoob.com.br/nCgvnRmlrfbjlXRTuNkkXAgJW74=/200x/center/top/smart/filters:format(jpeg)/https://skoob.s3.amazonaws.com/livros/736/O_LADRAO_DE_RAIOS_1364235342B.jpg" alt="" class="capa-livro">
                            <h5>O Ladrão de Raios</h5>
                            <p>Rick Riordan</p>
                        </div>

                        <div class="swiper-slide card-livro">
                            <img src="https://img.skoob.com.br/cKs_lZ8NAKVc5P1P_pRUN5v_nh0=/200x/center/top/smart/filters:format(jpeg)/https://skoob.s3.amazonaws.com/livros/359/HARRY_POTTER_E_A_ORDEM_DA_FENIX_1343593292B.jpg" alt="" class="capa-livro">
                            <h5>Harry Potter e a Ordem da Fênix</h5>
                            <p>J. K. Rowling</p>
                        </div>

                        <div class="swiper-slide card-livro">
                            <img src="https://img.skoob.com.br/6ajKrkUugO84BRw37NOcjCuNtXQ=/200x/center/top/smart/filters:format(jpeg)/https://skoob.s3.amazonaws.com/livros/562/HARRY_POTTER_E_O_ENIGMA_DO_PRI_1424051110562SK1424051110B.jpg" alt="" class="capa-livro">
                            <h5>Harry Potter e o Enigma do Príncipe</h5>
                            <p>J. K. Rowling</p>
                        </div>

                        <div class="swiper-slide card-livro">
                            <img src="https://img.skoob.com.br/18v3YDf67NRSQf8VtLPZxaeAfog=/200x/center/top/smart/filters:format(jpeg)/https://skoob.s3.amazonaws.com/livros/1200/HARRY_POTTER_E_AS_RELIQUIAS_DA_14475522561200SK1447552256B.jpg" alt="" class="capa-livro">
                            <h5>Harry Potter e as Relíquias da Morte</h5>
                            <p>J. K. Rowling</p>
                        </div>

                    </div> <!--swiper-wrapper-->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>

                </div> <!--swiper livroswiper-->
            </div> <!--livros-carrosel-->

            <div class="clubes mb-4">
                <h3>Clubes de livros</h3>

                <div class="swiper clubeSwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide clube-card">
                            <div >
                                <h5>CLIFES</h5>
                                <p>Clube de Literatura do IFES, entre já!</p>
                            </div>
                        </div>

                        <div class="swiper-slide clube-card">
                            <div>
                                <h5>Shertie</h5>
                                <p>Venha descobrir mais sobre mistério e policial</p>
                            </div>
                        </div>

                        <div class="swiper-slide clube-card">
                            <div>
                                <h5>Cósmico</h5>
                                <p>Quer saber mais sobre terror cósmico?</p>
                            </div>
                        </div>

                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>

            <div class="resenhas-carrossel mb-4">
                <h3>Resenhas</h3>

                <div class="swiper resenhaSwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide resenha-card">
                            <div class="cont-resenha">
                                <h5>E-Ming - Cidade de Vidro</h5>
                                <p>"Alguem mata a Clary! <br>Que personagem chata, que garota CHATA"</p>
                            </div>
                        </div>

                        <div class="swiper-slide resenha-card">
                            <div class="cont-resenha">
                                <h5>ItsMaivis - Suicidas</h5>
                                <p>"É um pouquinho cansativo essa jogada que ele faz na linha temporal, só que ela é de grande importância para entender a história"</p>
                            </div>
                        </div>

                        <div class="swiper-slide resenha-card">
                            <div class="cont-resenha">
                                <h5>satatanica - Battle Royale</h5>
                                <p>"Não se pode ser mais aterrorizantes que já nascer sem opções <br>Battle Royale correu para que Jogos Vorazes pudesse andar"</p>
                            </div>
                        </div>

                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>

            <div class="noticias mb-4">
                <h3>Notícias</h3>

                <div class="swiper notSwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide noticia-grid">
                            <div class="noticia-card">
                                <h5>Bienal Rubem Braga</h5>
                                <p>Como foi a Bienal deste ano que ocorreu no Sesc? E as atrações? Venha descobrir</p>
                            </div>
                        </div>

                        <div class="swiper-slide noticia-grid">
                            <div class="noticia-card">
                                <h5>Jogos Vorazes</h5>
                                <p>Capa do novo livro da saga de Jogos Vorazes saiu e não teve uma aceitação boa</p>
                            </div>
                        </div>

                        <div class="swiper-slide noticia-grid">
                            <div class="noticia-card">
                                <h5>Tianbao FuyaoLu</h5>
                                <p>Lançamento aguardado do livro de Danmei chinês está previsto para fev/25 pela SevenSeas</p>
                            </div>
                        </div>

                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="top-leitores">
                <h4>Top Leitores</h4>
                <div class="lista-leitores">
                    <div class="leitor-item">
                        <span class="leitor-nome">E-Ming</span>
                        <span class="paginas">64.392 páginas</span>
                    </div>

                    <div class="leitor-item">
                        <span class="leitor-nome">Madulhk</span>
                        <span class="paginas">61.995 páginas</span>
                    </div>

                    <div class="leitor-item">
                        <span class="leitor-nome">Heloísa</span>
                        <span class="paginas">10.440 páginas</span>
                    </div>

                    <div class="leitor-item">
                        <span class="leitor-nome">Isac Costa</span>
                        <span class="paginas">3.810 páginas</span>
                    </div>

                    <div class="leitor-item">
                        <span class="leitor-nome">Diêgo</span>
                        <span class="paginas">3.765 páginas</span>
                    </div>

                </div>
            </div>
        </div>

        
    </div> <!--row-->
</div> <!--container mt-4-->


{% endblock %}

{% block footer %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Sobre Nós</h5>
                <p>Sua biblioteca digital do IFES, conheça mais!</p>
            </div>
            <div class="col-md-4">
                <h5>Links Úteis</h5>
                <ul>
                    <li><a href="https://github.com/JulyLemos/Biblifes.git" style="color: white;">Github</a></li>
                    <li><a href="https://www.overleaf.com/read/rpddprfkbzwd#a4c6c2" style="color: white;">Overleaf</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contato</h5>
                <p>sos@socorro.com</p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="/static/js/carrosel/lar_carrosel.js"></script>
{% endblock %}